<header>
  <app-header-component></app-header-component>
</header>
<main>
  <div class="main">
    <div class="left">left</div>
    <div class="right">
      <div class="r-content">
        <form class="example-form">
          <mat-form-field class="example-full-width inp inp1">
            <input matInput placeholder="UserName" value="Arun" />
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width inp inp2">
            <input matInput placeholder="Enter your password" />
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</main>

<footer>
  <app-footer-component></app-footer-component>
</footer>
